@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alike&display=swap');


/* Importing fonts */
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-optical-sizing: auto;
}
.alike-regular {
  font-family: "Alike", serif;
  font-weight: 400;
  font-style: normal;
}


/* classes */
.mainBanner{
  background-image: linear-gradient(133deg, rgba(0, 0, 0, 0.4) 0%, rgba(255,255,255,0) 100%), url('./Images/main.jpg'); 
  background-position: center center;
  background-repeat: no-repeat, no-repeat; 
  background-size: cover, cover;
  height: 100vh !important ;
}
.btn{
  border-radius: 20px;
  color:black;
  background-color: white;
}
.slide{
  height: 100vh;
}
body{
  background-color: #fffbf5;
  color: #4f5b23;
  font-size: 2.0rem;
}


.itinerario{
  margin: auto;
}



.btnBorder{
  border-color: #4f5b23;
  color: #4f5b23;
}

.btnGreen{
    color: white !important;
    background-color: #A7AF60 !important;
    border: 0px;
    border-radius: 20px;
}
.btnGreen:hover{
  color:#4f5b23;
}

ul > a {
  width: 80%;
}

.card{
    border: 1px solid #4f5b23;
    border-radius: 10px;
    background-color: #4f5b233c;
    padding: 3%;

    height: 30vh;
}   
.img-container{
  position: relative;
  height: 50vh;
}
.normImage{
  width: 60%;
  max-width: 100%;
}
.galImageRow{
  height: 45%;
}
.galImage{
  background-size: cover, cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-height: 30vh;
}
.CarImg{
  border-radius: 20px;
  object-fit: cover;
}
.polaroid{
    border: 3vh solid #fff;
    border-bottom: 10vh solid #fff;
    border-radius: 5px;
    
    width: 55%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    position: absolute;
    transform-origin: 50% 50%;
    top: -15%;
    left: 25%;
    /*-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}
.material-symbols-outlined{
  font-size: 5vw;
  color:#AA9371;
}

.card-gift{
  border: 0px;
  border-radius: 20px;
  min-height: 33vh;
  background-color: #a7af604a
}


@media only screen and (max-width: 1000px) {
  .adj-width{
    width: 90% !important;
  }
  .polaroid{
    position: relative;
    width: 60%;
    top : auto;
    transform : none;
    left : auto;

    border: 3vh solid #fff;
    border-bottom: 9vh solid #fff;
  }
  .img-container{
    margin-top: 10%;
    height: auto;
  }
 .itinerario{
  margin-top: 3vh;
  text-align: center;
 }
 .galImage{
  margin:10px !important;
 }
 .galImageRow{
  height: 50%;
 }
 .slide{
  height: auto;
 }
 .card-gift{
  margin-top: 2vh;
 }
};